#wiki {
	text-align: center;
	margin: auto;
}

#title {
	color:darkgrey;
	background-color: midnightblue;
}
#img {
	width: 250px;
	height:250px;
}
h1 { 
	color: purple;
}
body {
	background-color: gold;
}